@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Inter:wght@500&family=Lisu+Bosa&family=Paytone+One&family=Quicksand:wght@400;500&family=RocknRoll_One&family=Roboto:wght@500;600&family=Squada+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.login{
  background-image: url('/images/background-pattern.png');
  background-repeat: repeat;
  background-color: #EEDD97;
  transition: background-color 0.3s, color 0.3s;
}
.{
  background-image: url('/images/background-pattern.png');
  background-repeat: repeat;
  background-color: #EEDD97;
  transition: background-color 0.3s, color 0.3s;
}
.space-y-50 > * + * {
  margin-top: 50px;
}

/* Outras personalizações, se necessário */
.focus\:outline-none:focus {
  outline: 2px solid transparent;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  border-radius: 6px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36.48px;
  height: 40.54px;
  background: #EF2A39;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 2px 25px rgba(255, 153, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 36.48px;
  height: 40.54px;
  background: #EF2A39;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 2px 25px rgba(255, 153, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
